.message {
    color: red;
    font-style: italic;
    /* background-color: lightgrey; */
    /* width: fit-content; */
    /* align-self: center; */
    margin: 2px;
    text-align: center;
    vertical-align: auto;
    /* white-space: nowrap; */
    flex-shrink: 3;
    height: 22px;
    width: 150px;
}

.s-border {
    display: flex;
    align-items: center;
    border-radius: 5px;
    border-style: groove;
    width: fit-content;
    /* padding: 1%; */
}

.s-title {
    align-self: center;
    text-align: center;
    justify-content: center;
    position: relative;
    white-space: nowrap;
    /* margin: 20px 5px; */
    /* padding: 2%; */
    flex-shrink: 3;
}

.s-right {
    align-items: center;
    width: auto;
}

.button {
    align-self: center;
    text-align: center;
    justify-content: center;
    position: relative;
}

.button:hover {
    background-color: darkslategrey;
    color:aqua;
}

.sub-box {
    width: fit-content;
    float: left;
    /* gap: 2rem; */
    flex-flow: row wrap;
    display: flex;
    /* margin: 0.5rem; */
    margin-top: 0px;
    margin-bottom: 10px;
    flex-shrink: 3;
}
