.subs {
    width: 100%;
    flex-flow: row wrap;
    float: left;
    display: flex;
    gap: 1rem;
}

.page {
    clear: all;
}

.title {
    font-size: 35px;
    margin-left: 1%;
    margin-bottom: 0px;
    text-decoration: underline;
}